In [1]:
"""
def scrape(url):
    try:
        headers = {}
        headers['User-Agent'] = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36"
        return str(urlopen(Request(url, headers = headers)).read())
    except Exception as e:
        print(str(e))"""

'\ndef scrape(url):\n    try:\n        headers = {}\n        headers[\'User-Agent\'] = "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36"\n        return str(urlopen(Request(url, headers = headers)).read())\n    except Exception as e:\n        print(str(e))'

In [133]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import re
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import Request, urlopen
import random
import scrapy

In [134]:
url = 'https://www.immonet.de/berlin/wohnung-mieten-seite1.html'

In [135]:
# using requests for retrieving the html file and check for validity
headers = {'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4183.83 Safari/537.36'}
r = requests.get(url)
r.status_code

200

In [136]:
# using beautifulSoup to parse the file in order to retrieve the relevant data
soup = bs4.BeautifulSoup(r.content, 'html.parser')

In [137]:
# price, square meter, zipcod

def get_price(items):
    price = items.find('span', class_='text-250 text-strong text-nowrap').text 
    price = price[:-2]
    return price

def get_size(items):
    size = items.find('p', class_='text-250 text-strong text-nowrap').text
    size = size.replace('\t','')
    size = size.replace('\n','')
    size = size[:-2]
    return size

def get_both(items):
  
    return get_price(items) + ' ; ' + get_size(items)

In [138]:
num = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]
pricelist = []
for i in num:
    url1 = f"https://www.immonet.de/berlin/wohnung-mieten-seite{i}.html"
    response1 = requests.get(url1)
    soup1 = BeautifulSoup(response1.content, "html.parser")
    objects = (soup.find_all('div', class_="bg-white item overflow-hidden"))
    pricelist += [get_both(x) for x in objects]

In [139]:
import pandas as pd

In [140]:
df = pd.DataFrame(pricelist)
df

                     0
0     1.435,07 ; 78.85
1       532,17 ; 89.44
2       1.477 ; 118.17
3           656 ; 52.5
4           535 ; 53.0
...                ...
1020     420,40 ; 42.4
1021    218,41 ; 36.29
1022    433,62 ; 60.72
1023   1.132,34 ; 62.0
1024    530,21 ; 68.08

[1025 rows x 1 columns]

In [145]:
df.to_csv('fulllist.csv', index=False)

In [103]:
objects = (soup.find_all('div', class_="bg-white item overflow-hidden"))

In [104]:
price = objects[0].find('span', class_='text-250 text-strong text-nowrap').text
price = price.strip()
price = price[:-2]
price

'532,17'

In [105]:
size = objects[0].find('p', class_='text-250 text-strong text-nowrap').text
size = size.replace('\t','')
size = size.replace('\n','')
size = size[:-2]
size = float(size)
size

89.44

In [106]:
# functions used to retrieve the relevant data such as:

In [131]:
x = [get_size(x) for x in objects]
type(x[0])

list

In [108]:
[get_price(x) for x in objects]

['532,17',
 '1.477',
 '656',
 '535',
 '504,10',
 '1.350',
 '773',
 '687,22',
 '1.800',
 '1.085,04',
 '1.310',
 '1.866',
 '735,84',
 '690,91',
 '1.114',
 '383,04',
 '491,88',
 '1.100',
 '254,34',
 '420,40',
 '218,41',
 '433,62',
 '1.132,34',
 '530,21',
 '218,41']

In [109]:
list = [get_both(x) for x in objects]

In [111]:
type(list)

list