In [5]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import re
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import Request, urlopen
import random
import scrapy

In [30]:
url = 'https://www.immonet.de/berlin/wohnung-mieten-seite1.html'

In [31]:
# using requests for retrieving the html file and check for validity
r = requests.get(url)
r.status_code

200

In [32]:
# using beautifulSoup to parse the file in order to retrieve the relevant data
soup = bs4.BeautifulSoup(r.content, 'html.parser')

In [37]:
# price, square meter, zipcod

def get_price(items):
        price = items.find('span', class_='text-250 text-strong text-nowrap').text 
        price = price[:-2]
        return price

def get_size(items):
        size = items.find('p', class_='text-250 text-strong text-nowrap').text
        size = size.replace('\t','')
        size = size.replace('\n','')
        size = size[:-2]
        return size

def get_both(items):
    return get_price(items) + ' ; ' + get_size(items)

In [42]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]
all_pages_list = []
fullist =[]
for i in num:
    try:
        url = f"https://www.immonet.de/berlin/wohnung-mieten-seite{i}.html"
        response = requests.get(url)
        soup = BeautifulSoup(response.content, "html.parser")
        objects = (soup.find_all('div', class_="bg-white item overflow-hidden"))
        fullist += [get_both(i) for i in objects]
    except AttributeError:
        continue

#single_page_list = [get_both(x) for x in objects]
#all_pages_list.append(single_page_list)

In [52]:
fullist = set(fullist)

In [54]:
len(fullist)

757

In [55]:
df = pd.DataFrame(fullist)
df

                     0
0          470 ; 56.85
1          720 ; 95.13
2         1.870 ; 75.0
3    1.699,28 ; 108.58
4           879 ; 64.0
..                 ...
752       640 ; 102.97
753       1.310 ; 93.4
754        510 ; 64.19
755         822 ; 59.0
756       1.650 ; 73.0

[757 rows x 1 columns]

In [6]:
# price, square meter, zipcod

def get_price(items):
        price = items.find('span', class_='text-250 text-strong text-nowrap').text 
        price = price[:-2]
        return price

def get_size(items):
        size = items.find('p', class_='text-250 text-strong text-nowrap').text
        size = size.replace('\t','')
        size = size.replace('\n','')
        size = size[:-2]
        return size

def get_both(items):
    return get_price(items) + ' ; ' + get_size(items)

In [8]:
url = 'https://www.immonet.de/berlin/wohnung-mieten-seite1.html'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")
objects = (soup.find_all('div', class_="bg-white item overflow-hidden"))
singlelist = [get_both(i) for i in objects]

In [9]:
singlelist

['650 ; 65.0',
 '437,18 ; 53.26',
 '350 ; 29.19',
 '257,14 ; 34.2',
 '1.126,14 ; 98.0',
 '584,95 ; 72.09',
 '655,20 ; 60.0',
 '1.270 ; 106.0',
 '900 ; 50.35',
 '1.650 ; 126.7',
 '1.270 ; 43.71',
 '729 ; 28.9',
 '1.050 ; 43.55',
 '699 ; 36.0',
 '622 ; 26.0',
 '975 ; 75.0',
 '244,04 ; 41.11',
 '795 ; 30.0',
 '1.149 ; 63.0',
 '1.749 ; 120.0',
 '649 ; 22.35',
 '949 ; 29.95',
 '1.207 ; 46.75',
 '1.207 ; 46.5',
 '670 ; 30.0',
 '1.249 ; 43.0']