In [76]:
import pandas as pd
import numpy as np

In [77]:
df = pd.read_csv("data_with_zip.csv")

In [78]:
df1 = df[["zip_code", "price_cold", "area"]]

In [79]:
df1.isnull().sum()

zip_code       0
price_cold    27
area           6
dtype: int64

In [80]:
df1.shape

(1062, 3)

In [81]:
df1 = df1.dropna()

In [82]:
df1.price_cold.value_counts()

1200.00    14
1100.00     8
999.00      8
799.00      8
599.00      8
           ..
1625.00     1
330.00      1
1598.67     1
1840.00     1
918.00      1
Name: price_cold, Length: 700, dtype: int64

In [83]:
df1.loc[df1.price_cold == 1100.00 , ["price_cold", "area", "zip_code"]]
len(df1)

1032

In [84]:
df_after_duplicate = df1.drop_duplicates()

In [85]:
df_after_duplicate.to_csv("immonet_data_after_cleaning.csv")

In [100]:
df1.loc[df1.price_cold == 918.00]

Empty DataFrame
Columns: [zip_code, price_cold, area]
Index: []

In [99]:
df1.shape

(1031, 3)

In [98]:
df1.drop(df.index[242], inplace= True)

In [66]:
current_year = 2020
age_year = int(input("what is your birth year"))
age = current_year - age_year
print("your age is", age)

what is your birth year1986
your age is 34

In [75]:
df1.drop(df1.loc[df1.price_cold == 918.00])

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, ...]

[1032 rows x 0 columns]