In [5]:
import requests
from bs4 import BeautifulSoup
import bs4
import pandas as pd
import re
from pprint import pprint
from lxml import html
from lxml.html import fromstring
import urllib.request
from urllib.request import Request, urlopen
import random
import scrapy
import json

In [6]:
# price, square meter, zipcod

def get_price(items):
    price = items.find('span', class_='text-250 text-strong text-nowrap').text 
    price = price[:-2]
    return price

def get_size(items):
    size = items.find('p', class_='text-250 text-strong text-nowrap').text
    size = size.replace('\t','')
    size = size.replace('\n','')
    size = size[:-2]
    return size

def get_both(items):
  
    return get_price(items) + ' ; ' + get_size(items)

In [138]:
num = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]
full_list = []
for i in num:
    url1 = f"https://www.immonet.de/berlin/wohnung-mieten-seite{i}.html"
    response1 = requests.get(url1)
    soup1 = BeautifulSoup(response1.content, "html.parser")
    objects = (soup.find_all('div', class_="bg-white item overflow-hidden"))
    pricelist += [get_both(x) for x in objects]

In [140]:
df = pd.DataFrame(pricelist)
df

                     0
0     1.435,07 ; 78.85
1       532,17 ; 89.44
2       1.477 ; 118.17
3           656 ; 52.5
4           535 ; 53.0
...                ...
1020     420,40 ; 42.4
1021    218,41 ; 36.29
1022    433,62 ; 60.72
1023   1.132,34 ; 62.0
1024    530,21 ; 68.08

[1025 rows x 1 columns]

In [ ]:
def object_details_links(links):
    links_str = str(links)
    links_str = links_str.replace('href="','')  
    hrefs = re.findall('\/angebot\/\d{6,9}', links_str)
    hrefs = set(hrefs)
    base_url_details = "https://www.immonet.de"
    full_url_details = [base_url_details + i for i in hrefs]
    return full_url_details

In [33]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 22, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42]
full_list = []
for i in num:
    url = f"https://www.immonet.de/berlin/wohnung-mieten-seite{i}.html"
    response = requests.get(url)
    soup = BeautifulSoup(response.content, "html.parser")
    links = (soup.find_all('a', class_="flex-grow-1 display-flex"))
    x = object_details_links(links)
    full_list += x

In [35]:
len(full_list)

1072

In [52]:
# parse a single real estate object
url = 'https://www.immonet.de/angebot/41660626'
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

Zentral Wohnen in modernisierter Wohnanlage

In [98]:
description = (soup.find('h1', id="expose-headline").text)
description = description.replace('.',"")
description = description.strip()

In [97]:
# ?? how can i devide the adress
adress = (soup.find('p', class_="text-100 pull-left").text)
adress = adress.replace('\t','')
adress = adress.replace('\n',' ')
adress = adress.replace('\xa0','')
adress = adress.replace('Auf Karte anzeigen','')
adress = adress.strip()

In [99]:
zip = [int(s) for s in adress.split() if s.isdigit()]
zip = str(zip[1])

In [78]:
# ?? how do i clean the price
price_cold = (soup.find('div', id="priceid_2").text)
price_cold = price_cold.strip()
price_cold = price_cold.replace('\xa0€','')
price_cold

'350.11'

In [77]:
price_warm = (soup.find('div', id='priceid_4').text)
price_warm = price_warm.strip()
price_warm = price_warm.replace('\xa0€','')
price_warm

'471.11'

In [74]:
caution = (soup.find('div', id='priceid_19').text)
caution = caution.strip()
caution = caution.replace('\xa0€','')
caution

'987.33'

In [69]:
rooms = (soup.find('div', id='equipmentid_1').text)
rooms = rooms.strip()
rooms

'2.0'

In [76]:
area = (soup.find('div', id='areaid_1').text)
area = area.strip()
area = area.replace('\xa0m²','')
area

'54.13'

In [71]:
yearbuild = (soup.find('div', id='yearbuild').text)
yearbuild = yearbuild.strip()
yearbuild

'1956'

In [105]:
size = objects[0].find('p', class_='text-250 text-strong text-nowrap').text
size = size.replace('\t','')
size = size.replace('\n','')
size = size[:-2]
size = float(size)
size

89.44

In [106]:
# functions used to retrieve the relevant data such as:

In [131]:
x = [get_size(x) for x in objects]
type(x[0])

list

In [108]:
[get_price(x) for x in objects]

['532,17',
 '1.477',
 '656',
 '535',
 '504,10',
 '1.350',
 '773',
 '687,22',
 '1.800',
 '1.085,04',
 '1.310',
 '1.866',
 '735,84',
 '690,91',
 '1.114',
 '383,04',
 '491,88',
 '1.100',
 '254,34',
 '420,40',
 '218,41',
 '433,62',
 '1.132,34',
 '530,21',
 '218,41']

In [109]:
list = [get_both(x) for x in objects]

In [111]:
type(list)

list